body {
    font-family:helvetica,'lucinda grande',sans-serif;
    /* align-content: center; */
    padding: 1%;
}
.header {
    font-size: 22px;
    font-weight: bold;
    color: #343333;
}

.has-background-white-ter {
    background-color: hsl(0, 0%, 96%)
}

.btm {
    text-align: center;
}

.grey {
    color: #959595;
    font-size: 12px;
    text-align: left;
    column-span: 2;
}

.displayNum {
    font-size: 32px;
    color: #343333;
    font-weight: bold;
    white-space: nowrap;
}

.sixWide {
    width: 600px;
}


.ten {
    font-size: 10px;
    color: #676766;
}

.fteen {
    font-size: 15px;
    color: #676766;
}

/* Temperatures / Top Bar */
.house {
    width: 96px; 
    height: 96px;
}



.flex {
    display: block;
}
.cold {
    color: #2da4c4;
    font-size: 9px;
}

.coldBar {
    border-top: 2px solid #2da4c4;
}

.warm {
    color: #f16264;
    font-size: 9px;
}

.warmBar {
    border-top: 2px solid #f16264;
}

.noLine {
    line-height: 0%;
}

.bold {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
}

/* Icons */

.tempIcon {
    width: 46px;
    height: 46px;
}

.exp {
    font-size:12px;
    color:#343333;
    font-weight:bold;
    white-space:nowrap;
}

.logo {
    width: 160px;
    height: 56px;
    float: right;
}