body {
    font-family: helvetica,'lucinda grande',sans-serif;
}
.header {
    font-size: 100%;
    font-weight: bold;
    color: #343333;

}

.has-background-white-ter {
    background-color: hsl(0, 0%, 96%);
}

.btm {
    text-align: center;
}

.grey {
    color: #959595;
    font-size: 12px;
    text-align: left;
    column-span: 2;
}

.displayNum {
    font-size: 32px;
    color: #343333;
    font-weight: bold;
    padding: 2%;
    margin-left: 5px;
}

.sixWide {
    width: 600px;
}


.extraStat {
    text-align: center;
}

.ten {
    font-size: 10px;
    color: #676766;
}

.fteen {
    font-size: 15px;
    color: #676766;
}

.plusBold {
    font-weight: bold;
}

/* Temperatures / Top Bar */
.house {
    width: 96px; 
    height: 96px;
}



.flex {
    display: block;
}
.cold {
    color: #2da4c4;
    font-size: 9px;
}

.coldBar {
    border-top: 2px solid #2da4c4;
}

.warm {
    color: #f16264;
    font-size: 9px;
}

.smallFont {
    font-size:11px;
    color:#676766;
    font-weight:bold;
}

.warmBar {
    border-top: 2px solid #f16264;
}

.noLine {
    line-height: 0%;
}

.bold {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
}

table {
    margin-top: 1.5%;
}

/* Icons */

.tempIcon {
    width: 46px;
    height: 46px;
}

.exp {
    font-size:12px;
    color:#343333;
    font-weight:bold;
    margin-left: 10px;
}

.logo {
    width: 160px;
    height: 56px;
    float: right;
    margin-right: 30%;
}

.lilLogo {
    width: 55px;
    height: 45px;
    padding-left: 35%;
}

/* Dashboard button */
#dash {
    background-image: linear-gradient(to bottom, #FB9159, #9C442C);
    color: white;
    /* font-weight: bold; */
    text-align: center;
    height: 40px;
    width: 100%;
    justify-content: center;
    text-shadow: 2px 2px #9C442C;
    border-radius: 5px;
    font-size: 15px;
    /* margin-left: 10%; */
    /* box-shadow: 20px 20px 20px #9C442C; */
}

